.header
{
	text-align:center;
	margin-top:16px;
	margin-bottom:16px;	
}
.sitesTheyVisit h2
{
	text-align:center;
}
.box1 {
	border: 1px solid rgba(10, 10, 10, 0.25);
	color:black;
	background-color:lightgreen;
	height: 300px;
	width: 380px;
	float: left;
	padding:10px;
	text-align:center;
}
.box1 ul
{
	text-decoration:none;
	list-style:none;	
}
.box1 li
{
	text-decoration:none;
}
.box1 a
{
	color: black;
}
.box1 a:hover
{
	color:white;	
}
.box2 {
	border: 1px solid rgba(10, 10, 10, 0.25);
	color:black;
	background-color:lightgreen;
	height: 300px;
	width: 380px;
	float: left;
	margin-left: 15px;
	margin-right: 15px;
	padding:10px;
	text-align:center;
}
.box3 {
	border: 1px solid rgba(10, 10, 10, 0.25);
	color:black;
	background-color:lightgreen;
	height: 300px;
	width: 380px;
	float: right;
	padding:10px;
	text-align:center;
}
.box3 ul
{
	text-decoration:none;
	list-style:none;	
}
.box3 li
{
	text-decoration:none;
}
.box3 a
{
	color: black;
}
.box3 a:hover
{
	color:white;	
}
.whyIDid
{
	margin-top:16px;
	margin-bottom:16px;	
}
.footer
{
	text-align:center;
	font-size:12px;
	font-style:italic;
}
.center
{
	display:block;
	margin-left:auto;
	margin-right:auto;	
}